In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/Aniket-bit7/learning-analytics-ml-system/main/data/students_data.csv"

df = pd.read_csv(url)

df.head()

,Student_ID,Quiz1,Quiz2,Quiz3,Time_Spent,Assignments,Attendance,Final_Result
0,S1000,51,56.0,62,6.620920,1,75.776842,Pass
1,S1001,92,16.0,85,12.200994,7,15.356905,Fail
2,S1002,14,85.0,1,3.856499,7,46.290683,Fail
3,S1003,71,89.0,87,8.771189,9,35.473158,Fail
4,S1004,60,43.0,71,11.262998,3,9.471429,Fail